body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #081229, #17396b, #4d78c7);
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 25px;
    width: 80%;
    max-width: 700px;
}

h1 {
    color: #ffd6e8;
    font-size: 50px;
}

h2 {
    color: #cde8ff;
}

#countdown {
    font-size: 38px;
    margin: 25px 0;
    color: #fff4b2;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

button {
    margin-top: 25px;
    padding: 15px 35px;
    border: none;
    border-radius: 35px;
    background: #ffd6e8;
    color: #17396b;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
/* Moon */

.moon{
    position:fixed
